/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Step By Step Development.docx
/public/images/admin_images/product_images/
/public/images/admin_images/category_images/
/public/videos